flows.json
[
    {
        "id": "877a25d12e2dea44",
        "type": "tab",
        "label": "Painel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51395d36d64d8ba1",
        "type": "ui-switch",
        "z": "877a25d12e2dea44",
        "name": "",
        "label": "",
        "group": "17a22393262d227d",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "power",
        "topicType": "str",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a17294790548cfba",
                "740dae08f8b8e6b0"
            ]
        ]
    },
    {
        "id": "3de893ed5c188900",
        "type": "ui-slider",
        "z": "877a25d12e2dea44",
        "group": "17a22393262d227d",
        "name": "",
        "label": "Velocidade (%)",
        "order": 2,
        "width": 7,
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "speed",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "600",
        "max": "3000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "a17294790548cfba",
                "ccd28e8bfad5131d"
            ]
        ]
    },
    {
        "id": "a17294790548cfba",
        "type": "function",
        "z": "877a25d12e2dea44",
        "name": "Status UI",
        "func": "let speed = context.get(\"speed\") || 600;\nlet power = context.get(\"power\") || 0;\n\nif (msg.topic === \"speed\") {\n    speed = Number(msg.payload);\n    context.set(\"speed\", speed);\n}\n\nif (msg.topic === \"power\") {\n    power = Number(msg.payload);\n    context.set(\"power\", power);\n}\n\n// conversão para %\nlet percent = Math.round((speed - 600) * 100 / (3000 - 600));\n\n// proteção (caso fuja do range)\nif (percent < 0) percent = 0;\nif (percent > 100) percent = 100;\n\nmsg.payload = `\nVelocidade: ${percent} %\nEstado: ${power == 1 ? \"🟢 Ligado\" : \"🔴 Desligado\"}\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "61364f3b092b6321"
            ]
        ]
    },
    {
        "id": "61364f3b092b6321",
        "type": "ui-text",
        "z": "877a25d12e2dea44",
        "group": "17a22393262d227d",
        "order": 5,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "",
        "layout": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "740dae08f8b8e6b0",
        "type": "mqtt out",
        "z": "877a25d12e2dea44",
        "name": "",
        "topic": "mostruario/cruni/sub/sw1/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f431fa680ee4c86",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "ccd28e8bfad5131d",
        "type": "mqtt out",
        "z": "877a25d12e2dea44",
        "name": "",
        "topic": "mostruario/cruni/sub/sl1/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f431fa680ee4c86",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "28e87750bfc1451e",
        "type": "ui-template",
        "z": "877a25d12e2dea44",
        "group": "17a22393262d227d",
        "page": "",
        "ui": "",
        "name": "CSS",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<style>\n.nrdb-ui-card {\n    border-radius: 12px;\n}\n\n.nrdb-ui-slider input {\n    height: 8px;\n}\n\n.nrdb-ui-switch {\n    transform: scale(1.4);\n    margin-top: 20px;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "17a22393262d227d",
        "type": "ui-group",
        "name": "Group 1 - Controle",
        "page": "26a7263bddcbcca2",
        "width": "10",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4f431fa680ee4c86",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "26a7263bddcbcca2",
        "type": "ui-page",
        "name": "Motor",
        "ui": "88b6f018ceb92cd4",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "cc0e538c43b5b68f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "88b6f018ceb92cd4",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "cc0e538c43b5b68f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#00bcd4",
            "bgPage": "#121212",
            "groupBg": "#1e1e1e",
            "groupOutline": "#333333"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d29a06458211b1c9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]